In [1]:
'''Small script to see what proteins each epitope is on'''


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_epi = pd.read_csv('data/processed/epitope_entropies.csv')
df_epi.head()

  protein  sequence  entropy_sum  epi_start_pos
0       E  MYSFVSEE     0.002908              0
1       E  YSFVSEET     0.008297              1
2       E  SFVSEETG     0.008297              2
3       E  FVSEETGT     0.008297              3
4       E  VSEETGTL     0.008297              4

In [3]:
vaccine_epitopes = ['AAISDYDYYRY', 'EEFEPSTQYEY', 'FACPDGVKHVY', 'FPFTIYSLL', 'FTSDYYQLY', 
                   'FVAAIFYLI', 'IFFASFYYVW', 'KVAGFAKFLK', 'LEMELTPVV', 'WSMATYYLF']

In [4]:
seqs = df_epi[df_epi.sequence.isin(vaccine_epitopes)][['protein', 'sequence', 'epi_start_pos']]
seqs.head()

      protein    sequence  epi_start_pos
12090   ORF10   FPFTIYSLL              8
18783   ORF1a   WSMATYYLF            899
18895   ORF1a   LEMELTPVV           1011
20665   ORF1a   FVAAIFYLI           2781
24660   ORF1a  IFFASFYYVW           2384

In [5]:
# want these to be sorted a particular way
new_df = []
for v in vaccine_epitopes:
    new_df.append( [seqs[seqs.sequence == v].iloc[0].protein, 
                    seqs[seqs.sequence == v].iloc[0].sequence, seqs[seqs.sequence == v].iloc[0].epi_start_pos])

In [6]:
df = pd.DataFrame(new_df, columns=['Protein', 'Epitope', 'Epitope Position'])
# df.head()
df

  Protein      Epitope  Epitope Position
0   ORF1b  AAISDYDYYRY               438
1   ORF1a  EEFEPSTQYEY               938
2   ORF7a  FACPDGVKHVY                64
3   ORF10    FPFTIYSLL                 8
4   ORF3a    FTSDYYQLY               206
5   ORF1a    FVAAIFYLI              2781
6   ORF1a   IFFASFYYVW              2384
7   ORF1b   KVAGFAKFLK                31
8   ORF1a    LEMELTPVV              1011
9   ORF1a    WSMATYYLF               899

In [7]:
df

  Protein      Epitope  Epitope Position
0   ORF1b  AAISDYDYYRY               438
1   ORF1a  EEFEPSTQYEY               938
2   ORF7a  FACPDGVKHVY                64
3   ORF10    FPFTIYSLL                 8
4   ORF3a    FTSDYYQLY               206
5   ORF1a    FVAAIFYLI              2781
6   ORF1a   IFFASFYYVW              2384
7   ORF1b   KVAGFAKFLK                31
8   ORF1a    LEMELTPVV              1011
9   ORF1a    WSMATYYLF               899